*{
    margin: 0;
    box-sizing: border-box;
    
    }
    
    html{
    scroll-behavior: smooth;
    }
    
    
    @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
    
    
    .header{
    
    background-color: rgba(0,0,0,0.4);
    height: 60px;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 101;
    overflow: hidden;
    }
    
    .header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
    .header .nav a{
    padding: 15px;
    font-family: Cinzel;
    color: black;
    text-align: center;
    }
    
    a{
    text-decoration: none;
    }
    
    @media screen and (max-width: 645px){
    .header{
    height: 100px;
    }
    .header .nav {
    color: white;
    flex-wrap: wrap;
    }
    .header .nav a{
    padding: 15px;
    }
    
    }
    
    
    
    .slide-div{
    background-color: #EFF6F0;
    height: 90vh;
    display: grid;
    place-items: center;
    background-image: url("spidey.jpg"); 
    background-size: cover;
    background-position: center center;
    }
    
    .slide-div img{
    border-radius: 20px;
    width: 100%;
    height:100vh
    }
    .slide-div h1{
        top:40px;
        font-family: Cinzel;
     font-size: 80px;
     padding:0px

    }
    .slide-div h2{
        font-family:Cinzel;
        font: size 20px;
        top:75px
       
    }
    
    @media screen and (max-width: 800px){
    .slide-div img{
    width: 80%;
    height: auto;
    }
    }
    
    .aboutUs{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    background-color: #CFD6D0;
    color: black;
    height: 100vh;
    }
    
    .aboutUs h1{
    font-family: Cinzel;
    font-size: 40px;
    }
    
    .aboutUs p{
    
    font-size: 25px;
    }
    
    #aboutUs-img-container{
    padding-top: 4vh;
    }
    
    .Events{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    background-color: #EFF6F0;
    color: black;
    height: auto;
    }
    
    .Events h1{
    font-family: Cinzel;
    font-size: 40px;
    }
    .team h1{
        font-family: Cinzel;
        font-size: 40px;}
    .team{text-align: center;
        margin:0px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 70px;
        background-color: #CFD6D0;
        color: black;
        height: 100vh;}
    
    .img-container{
    display: flex;
    justify-content: space-around;
    }
    
    .img-container > div{
    padding: 5vh;
    }
    
    .img-container .event-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    }
    
    .event-image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    overflow: hidden;
    }
    
    
    
    .event-image-container > div{
    display: grid;
    place-items: center;
    padding: 20px;
    }
    
    
    .image-div{
    position: relative;
    text-align: center;
    padding: 20px;
    font-family: Cinzel;
    font-size: 30px;
    }
    
    .overlay{
    position: absolute;
    top: 50%;
      left: 50%;
      transform: translate(-50%, -52%);
      width: 400px;
      height: 410px;
      justify-content: center;
      align-items: center;
      display: flex;
      opacity: 0;
      background-color: black;
      border-radius: 5%;
    }
    
    .overlay:hover{
    opacity: 0.7;
    transition: 0.4s ease;
    cursor:pointer;
    }
    
    .name{
    color: white;
    }
    .header .nav :hover{
    background-color: #EFF6F0;
    box-shadow: 5px 10px 10px #CFD6D0;
    transition: 0.5s;
    }
    
    .slide-div .home-box{
    display: block;
    text-align: center;
    font-family: Cinzel Decorative;
    position: relative;
    transform: translate(0,-50px);
    }
    
    .home-box h1{
    font-size: 50px;
    color: white;
    }
    
    .modal-container{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    }
    
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      outline: 2px solid red;
    }
    
    #contact {
      width: 100%;
      height: 100%;
      background-color: black;
    }
    
    .section-header {
      text-align: center;
      margin: 0 auto;
      padding: 40px 0;
      font: 300 60px 'Oswald', sans-serif;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 6px;
    }
    
    .contact-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      padding: 20px;
      position: relative;
      max-width: 840px;
    }
    
    /* Left contact page */
    .form-horizontal {
      /*float: left;*/
      width: 400px;
      font-family: 'Lato';
      font-weight: 400;
    }
    
    .form-control,
    textarea {
      width: 400px;
      background-color: #000;
      color: #fff;
      letter-spacing: 1px;
    }
    
    .send-button {
      margin-top: 15px;
      height: 34px;
      width: 400px;
      overflow: hidden;
      transition: all .2s ease-in-out;
    }
    
    .alt-send-button {
      width: 400px;
      height: 20px;
      transition: all .2s ease-in-out;
    }
    
    .send-text {
      display: block;
      margin-top: 20px;
      font: 700 12px 'Lato', sans-serif;
      letter-spacing: 2px;
    }
    
    .alt-send-button:hover {
      transform: translate3d(0px, -29px, 0px);
    }
    
    /* Begin Right Contact Page */
    .direct-contact-container {
      max-width: 400px;
    }
    
    /* Location, Phone, Email Section */
    .contact-list {
      list-style-type: none;
      margin-left: -30px;
      padding-right: 20px;
    }
    
    .list-item {
      line-height: 4;
      color: #aaa;
    }
    
    .contact-text {
      font: 300 18px 'Lato', sans-serif;
      letter-spacing: 1.9px;
      color: #bbb;
    }
    
    .place {
      margin-left: 62px;
    }
    
    .phone {
      margin-left: 56px;
    }
    
    .gmail {
      margin-left: 53px;
    }
    
    .contact-text a {
      color: #bbb;
      text-decoration: none;
      transition-duration: 0.2s;
    }
    
    .contact-text a:hover {
      color: #fff;
      text-decoration: none;
    }
    
    
    /* Social Media Icons */
    .social-media-list {
      position: relative;
      font-size: 22px;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
    
    .social-media-list li a {
      color: #fff;
    }
    
    .social-media-list li {
      position: relative;
      display: inline-block;
      height: 60px;
      width: 60px;
      margin: 10px 3px;
      line-height: 60px;
      border-radius: 50%;
      color: #fff;
      background-color: rgb(27,27,27);
      cursor: pointer;
      transition: all .2s ease-in-out;
    }
    
    .social-media-list li:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      line-height: 60px;
      border-radius: 50%;
      opacity: 0;
      box-shadow: 0 0 0 1px #fff;
      transition: all .2s ease-in-out;
    }
    
    .social-media-list li:hover {
      background-color: #fff;
    }
    
    .social-media-list li:hover:after {
      opacity: 1;  
      transform: scale(1.12);
      transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
    }
    
    .social-media-list li:hover a {
      color: #000;
    }
    
    .copyright {
      font: 200 14px 'Oswald', sans-serif;
      color: #555;
      letter-spacing: 1px;
      text-align: center;
    }
    
    hr {
      border-color: rgba(255,255,255,.6);
    }
    
    /* Begin Media Queries*/
    @media screen and (max-width: 850px) {
      .contact-wrapper {
        display: flex;
        flex-direction: column;
      }
      .direct-contact-container, .form-horizontal {
        margin: 0 auto;
      }  
     
      .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
      }    
      .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
      }
      .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
      }
    }
    
    @media screen and (max-width: 569px) {
    
      .direct-contact-container, .form-wrapper {
        float: none;
        margin: 0 auto;
      }  
      .form-control, textarea {
       
        margin: 0 auto;
      }
     
     
      .name, .email, textarea {
        width: 280px;
      }
     
      .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
      }  
      .social-media-list {
        left: 0;
      }
      .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
      }
      .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
      }
     
    }
    
    @media screen and (max-width: 410px) {
      .send-button {
        width: 99%;
      }
    }
    
    img{
    border-radius: 5%;
    }
